<!-- <h1>Avinash {{title}}</h1>
<router-outlet></router-outlet> -->

<div class="container">
    <div *ngIf="currentStep > 1" (click)="goToPrevious()" class="backBtn">&larr; Back</div>
<div *ngIf="currentStep === 1 || currentStep === 2">
    <app-country-select (countryChange)="onCountryChange($event)" [selectedCountry]="selectedCountry"></app-country-select>
  </div>
  
  <div *ngIf="currentStep === 2">
    <app-document-list [selectedCountry]="selectedCountry" [documents]="documents" (goToUploadDocument)="goToUploadDocument()"></app-document-list>
  </div>
  
  <div *ngIf="currentStep === 3">
    <app-image-upload (changeStep)="changeStep($event)"></app-image-upload>
  </div>
  
 

</div>
  