.backBtn {
    cursor: pointer;
}
.nextBtn {
    margin-top: 10px;
    margin-top: auto;
    padding: 6px;
  
    /* align-self: center; */
}
.container {
display: flex;
width: 30%;
min-width: 300px;
max-width: 600px;
margin: 20px auto;
border: 1px solid black;
padding: 15px 10px ;
border-radius: 10px;
min-height: 250px;
flex-direction: column;
}